<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find Sum</title>
</head>
<body bgcolor="#99dd99">
    <form action="add" method="post">
        {% csrf_token %}
        <h1>Image:<input type="image" name="img"><br>
        Name:<input type="text" name="name"><br>
        CGPA:<input type="text" name="cgpa" ><br>
        Gmail:<input type="text" name="gmail"><br>
        Contact No:<input type="text" name="contact"><br>
        University:<input type="text" name="university"><br>
        <input type="submit" style="r"><br>
        </h1>
    </form>
</body>
</html>